{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if ticket %}
    <div style="padding: 50px; backdrop-filter: blur(5px); background-color: rgba(33, 33, 33, 0.5);">
        <h1>
            {% if ticket.estado == "O" %}
                <span class="ticket-status" style="--c1: #3ffbbb; --c2: #28cc95;"></span>
            {% elif ticket.estado == "P" %}
                <span class="ticket-status" style="--c1: #ffbb33; --c2: #cc9528;"></span>
            {% elif ticket.estado == "C" %}
                <span class="ticket-status" style="--c1: #ff002f; --c2: #cc2828;"></span>
            {% endif %}
            {{ ticket.asunto }}
        </h1>
        <zero-md>
            <template>
                <style>
                    p {
                        color: white;
                        font-size: 25px;
                    }
                </style>
            </template>
            <script type="text/markdown">{{ ticket.mensaje }}</script>
        </zero-md>
        <hr>
        {% include "mensajes.html" %}
        {% if ticket.estado != "C" %}
            <form style="padding: 20px;" enctype="multipart/form-data" action="{{ ticket.id }}/comment" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <label class="input-group-text" for="id_mensaje">Mensaje</label>
                            {{ form.mensaje }}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="id_usuario">@</label>
                                    {{ form.usuario }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button style="width: 100%;" class="btn btn-success" type="submit">Enviar</button>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="id_adjunto">Adjunto</label>
                            {{ form.adjunto }}
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Ticket cerrado. Ya no se aceptan comentarios al thread.
            </div>
        {% endif %}
        {% if comentarios %}
            {% for comentario in comentarios %}
                <div style="padding: 10px;">
                    <h5>{{ comentario.usuario }}</h5>
                    <zero-md>
                        <template>
                            <style>
                                p {
                                    color: white;
                                    font-size: 20px;
                                }
                                a {
                                    color: cyan;
                                }
                            </style>
                        </template>
                        <script type="text/markdown">{{ comentario.mensaje }}</script>
                    </zero-md>
                    {% if comentario.adjunto %}
                        <a href="/tickets{{ comentario.adjunto.url }}">[{{ comentario.adjunto.name }}]</a>
                    {% endif %}
                    <p style="font-size: 10px;">{{ comentario.publicacion }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}