body {
    color: white;
    background-color: black;
    min-height: 100vh;
    background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%,rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%),linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%,rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%),linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%,rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%),linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%,rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%),linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%,rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%),linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%,rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%),linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%,rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%),linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%,rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%),linear-gradient(90deg, rgb(10, 17, 72),rgb(35, 148, 228));
}

.ticket-status {
    display: block;
    width: 20px;
    height: 20px;
    background: var(--c1);
    border-radius: 50%;
    cursor: pointer;
    animation: pulso 2s 1s ease-out infinite;
}

.content-box {
    padding: 50px;
    backdrop-filter: blur(5px);
    background-color: rgba(33, 33, 33, 0.5);
}

@keyframes pulso {
    0% {
        box-shadow:
            0 0 8px 6px #1affb300,
            0 0 0px 0px #33333300,
            0 0 0px 0px #1affb300;
    }
    10% {
        box-shadow:
            0 0 8px 6px var(--c2),
            0 0 12px 10px #33333300,
            0 0 12px 14px var(--c2);
    }
    100% {
        box-shadow:
            0 0 8px 6px #1affb300,
            0 0 0px 40px #33333300,
            0 0 0px 40px #1affb300;
    }
}
