{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>Editar un ticket</h1>
    <h3>Modificando ticket {{ ticket.id }}</h3>
    {% include "mensajes.html" %}
    <div style="padding: 20px;">
        <form action="#" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button style="width: 100%;" class="btn btn-warning" type="submit">Editar</button>
        </form>
    </div>
</div>
{% endblock %}