{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    {% if ticket %}
    <div class="content-box">
        <div class="row">
            <div class="col d-flex align-items-center">
                {% if ticket.estado == "O" %}
                    <span class="ticket-status" style="--c1: #3ffbbb; --c2: #28cc95;"></span>
                {% elif ticket.estado == "P" %}
                    <span class="ticket-status" style="--c1: #ffbb33; --c2: #cc9528;"></span>
                {% elif ticket.estado == "C" %}
                    <span class="ticket-status" style="--c1: #ff002f; --c2: #cc2828;"></span>
                {% endif %}
                <div class="ms-3">
                    <h1>{{ ticket.asunto }}</h1>
                    <p style="font-size: 15px;">
                        Publicado por {{ ticket.autor.username }}, {{ ticket.creacion }}
                    </p>
                </div>
            </div>
            <div class="col-auto">
                <div class="d-flex gap-2 mb-3">
                    {% if ticket.autor == request.user or request.user.is_staff %}
                    {% include 'components/editar.html' %}
                    {% endif %}
                    {% if request.user.is_staff %}
                    {% include 'components/eliminar.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
        <zero-md>
            <template>
                <style>
                    p {
                        color: white;
                        font-size: 25px;
                    }
                </style>
            </template>
            <script type="text/markdown">{{ ticket.mensaje }}</script>
        </zero-md>
        <hr>
        {% include "mensajes.html" %}
        {% if ticket.estado != "C" %}
            {% if ticket.autor == user or user.is_staff %}
                <form style="padding: 20px;" enctype="multipart/form-data" action="{% url 'tickets:view_comment' ticket.id %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <label class="input-group-text" for="id_mensaje">Mensaje</label>
                                {{ form.mensaje }}
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="id_adjunto">Adjunto</label>
                                {{ form.adjunto }}
                            </div>
                            <button style="width: 100%;" class="btn btn-success" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                Ticket cerrado. Ya no se aceptan comentarios al thread.
            </div>
        {% endif %}
        {% if comentarios %}
            {% for comentario in comentarios %}
                <div style="padding: 10px;">
                    <div class="card mb-3 bg-transparent border-2 text-white">
                        <div class="card-body">
                          <h5 class="card-title mb-1">
                            {% if comentario.autor.is_staff %}<span class="fst-italic text-warning">Soporte</span> {% endif %}{{ comentario.autor.username }}
                        </h5>
                          <p class="card-text text-reset small mb-2">
                            {{ comentario.publicacion }}
                        </p>
                          <div class="card-text">
                            <zero-md>
                                <template>
                                    <style>
                                        p {
                                            color: white;
                                            font-size: 20px;
                                        }
                                        a {
                                            color: cyan;
                                        }
                                    </style>
                                </template>
                                <script type="text/markdown">{{ comentario.mensaje }}</script>
                            </zero-md>
                          </div>
                        {% if comentario.adjunto %}
                           Archivo adjunto <a href="{{ comentario.adjunto.url }}">[{{ comentario.adjunto.name }}]</a>
                        {% endif %}
                        </div>
                      </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}